@font-face {
  font-family: 'Museo';
  src: url("../fonts/Museo_700_Regular.eot");
  src: url("../fonts/Museo_700_Regular.woff") format("woff"), url("../fonts/Museo_700_Regular.ttf") format("truetype"), url("../fonts/Museo_700_Regular.svg") format("svg"); }
@font-face {
  font-family: 'Fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg"); }
/** GENERALES **/
header, footer, section, article, div, input, .btn-form {
  box-sizing: border-box; }

body {
  color: #85808f;
  font: 14px/1.5em 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

h2, h3, h4 {
  font-family: "Museo", sans-serif;
  line-height: 1em;
  padding-bottom: 20px; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

p {
  padding-bottom: 20px; }

ol {
  margin-bottom: 30px; }

button, input[type='submit'] {
  border: 0;
  margin: 0; }

.cuerpo, footer {
  text-align: center; }

.subtitulo {
  clear: both;
  display: block;
  font-size: .45em; }

.texto-naranjo {
  color: #d8a43a; }

.fuente-alternativa {
  font-family: "Museo", sans-serif; }

.fondo-higo {
  background-color: #322f38; }

.fondo-morado {
  background-color: #443354;
  color: #ffffff; }

.fondo-naranjo {
  background-color: #d8a43a;
  color: #ffffff; }

.fondo-invierno {
  background-color: #f9f8f5; }

/** BOTONES Y ENLACES **/
.btn {
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px; }

.btn-sm {
  font-size: 1em;
  padding: .7em 1.2em; }

.btn-lg {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 1.5em;
  max-width: 17.9em;
  padding: .8em 3.7em; }

.btn-naranjo {
  background-color: #d4930f; }
.btn-naranjo:hover {
  background-color: #c98206; }

.btn-higo {
  background-color: #322f38; }
.btn-higo:hover {
  background-color: #85808f; }

.btn-morado {
  background-color: #694281; }
.btn-morado:hover {
  background-color: #443354; }

.btn-gris {
  background-color: #85808f; }
.btn-gris:hover {
  background-color: #e8e8e7; }

.btn-azul {
  background-color: #3b5998; }
.btn-azul:hover {
  background-color: #0e1f56; }

.btn-up {
  background-color: #322f38;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 40px;
  opacity: .9;
  overflow: hidden;
  visibility: hidden;
  width: 40px; }

.btn-radio {
  display: none; }

.icon-up {
  color: #baaec8;
  display: block;
  font-size: 1.1em;
  line-height: 40px;
  text-align: center; }

.enlace {
  color: #d8a43a;
  font-weight: bold; }
.enlace:hover {
  color: #77579a; }

/** CONTENEDORES **/
.contenedor {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.fila {
  padding: 50px 0px; }

.contenedor-cajas, .contenedor-columnas, .form-reset-container, .contenedor-dashboard {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.contenedor-cajas {
  margin: 20px 0 30px; }

.form-reset-container {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.form-reset {
  max-width: 360px; }

.contenedor-icono {
  width: 45px;
  height: 45px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 1em;
  text-align: center; }
.contenedor-icono span {
  line-height: 45px;
  font-size: 26px; }

/** HEADER **/
header {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }

/** ACCESO **/
.acceso {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.acceso a {
  color: #baaec8;
  display: inline-block;
  padding: .4em .8em; }
.acceso a:hover {
  background-color: #694281;
  color: #ffffff; }

/** MENU **/
.fondo-menu {
  background-color: #f7f5ee;
  padding: 10px 0; }
.fondo-menu .contenedor {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }

.logo {
  width: 150px; }
.logo a {
  background: url(../imagenes/logo.png) no-repeat top left;
  background-size: 100%;
  display: block;
  height: 60px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

nav {
  background-color: #f7f5ee;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 20;
  right: -100%;
  top: 0;
  padding-top: 40px; }
nav .boton-menu {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-bottom: 20px; }

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center; }
.menu li {
  border-bottom: 1px dotted rgba(220, 220, 220, 0.7);
  text-align: center; }
.menu li a {
  display: block;
  font-family: "Museo", sans-serif;
  font-size: 1.8em;
  padding: .8em; }
.menu li a:hover {
  color: #d8a43a; }

.boton-menu {
  overflow: hidden;
  white-space: nowrap;
  width: 40px; }
.boton-menu a {
  font-size: 2em; }
.boton-menu a:hover {
  color: #d8a43a; }

.nav a {
  font-family: "Museo", sans-serif;
  padding: .8em; }
.nav a:hover {
  color: #d8a43a; }

/** SLIDER **/
.ilustracion {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.contenedor-slider {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  width: 100%; }

.contenedor-textos-slider {
  width: 100%;
  overflow: hidden; }

.lista-slider {
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 300%; }

.slide {
  width: 33.333333%; }

.item-paginacion {
  background-color: #baaec8;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px; }

.item-paginacion-activo {
  background-color: #77579a; }

/** PASOS **/
.paso {
  margin-bottom: 20px; }
.paso span {
  color: #d8a43a;
  display: block;
  font-size: 2em;
  margin-bottom: 10px; }

/** TABS **/
.navegacion-etiquetas {
  display: none; }

.titulo-etiqueta, .nav-etiqueta {
  background-color: #e8e8e7;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  font-size: 1.2em;
  padding: .5em; }

.titulo-etiqueta {
  display: block;
  border-bottom: 1px solid #f9f8f5; }

.contenedor-etiquetas {
  position: relative;
  background-color: #ffffff; }

.contenido-etiqueta {
  overflow: hidden; }

#etiqueta-1:checked ~ div [for='etiqueta-1'], #etiqueta-2:checked ~ div [for='etiqueta-2'], #etiqueta-3:checked ~ div [for='etiqueta-3'], #etiqueta-4:checked ~ div [for='etiqueta-4'], #etiqueta-5:checked ~ div [for='etiqueta-5'] {
  background-color: #d8a43a;
  color: #ffffff; }

.contenedor-tarifas {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center; }

.tarifa {
  border: 1px solid #e8e8e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px; }

.tarifa-titulo {
  background-color: #e8e8e7;
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  padding: .4em .3em; }

.tarifa-texto {
  padding: 10px; }

.tarifa-valor {
  color: #ffffff;
  background-color: #d8a43a;
  display: block;
  font-weight: bold;
  padding: .4em 0;
  text-align: center; }

/** SERVICIO **/
.servicio {
  background-color: #77579a;
  margin: 1px;
  padding: 20px 15px 0px; }

.servicio-activo {
  background-color: #f9f8f5;
  color: #85808f; }

.webpay img {
  width: 200px; }

/** FOOTER **/
footer {
  color: #ffffff; }
footer .logo {
  margin-bottom: 30px;
  display: inline-block; }

.redes-sociales {
  margin-top: 20px; }
.redes-sociales a {
  font-size: 3em; }
.redes-sociales a:hover {
  color: #d8a43a; }

/** MODAL **/
.open-modal {
  overflow: hidden; }

.modal-fondo {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3000;
  top: 0;
  bottom: 0;
  display: none; }

.modal-contenedor {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.modal-wrapper {
  background-color: #ffffff;
  position: relative;
  width: 340px;
  padding: 40px 40px 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6); }

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block; }

.modal-header {
  margin-bottom: 20px; }

.modal-body {
  margin-bottom: 30px; }

.modal-body .btn-facebook {
  margin: -10px 0 20px; }

.lineas-gemelas {
  position: relative;
  border-bottom: 1px solid #85808f;
  height: .9em;
  margin-bottom: 20px; }
.lineas-gemelas span {
  background-color: #ffffff;
  position: relative;
  padding: 0 15px; }

.form-group {
  text-align: left;
  margin-bottom: 15px; }
.form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #322f38; }
.form-group input {
  border: 1px solid #85808f;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: .5em; }

.btn-form, button.btn-form {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: .4em .7em;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  margin: 20px 0;
  cursor: pointer; }

.mensaje-error {
  color: #ff290d;
  font-size: .9em;
  font-weight: bold; }

.mensaje-exito {
  font-weight: bold; }

/** FORMULARIOS DE MATRIMONIO **/
.menu-formulario ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.item-menu-form {
  display: block;
  background-color: #e8e8e7;
  padding: 10px;
  font-family: "Museo", sans-serif;
  text-shadow: 1px 1px 0 #ffffff;
  border-bottom: 1px solid #ffffff; }

.item-menu-form:hover, .item-menu-activo {
  background-color: #d8a43a;
  color: #ffffff;
  text-shadow: none; }
.item-menu-form:hover span, .item-menu-activo span {
  color: #d8a43a; }

.contenedor-formulario-divorcio {
  background-color: #ffffff;
  padding: 20px;
  text-align: left; }
.contenedor-formulario-divorcio h3 {
  border-bottom: 5px solid #e8e8e7;
  color: #d8a43a;
  padding-bottom: 5px;
  margin-bottom: 30px; }
.contenedor-formulario-divorcio p {
  padding-bottom: 10px; }
.contenedor-formulario-divorcio input[type=text], .contenedor-formulario-divorcio input[type=number], .contenedor-formulario-divorcio input[type=date], .contenedor-formulario-divorcio input[type=time], .contenedor-formulario-divorcio input[type=email], .contenedor-formulario-divorcio select {
  background-color: #e8e8e7;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #85808f; }

.grupo-datos, .grupo-opciones {
  margin-bottom: 20px; }

.grupo-radio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.label-radio:before {
  content: "";
  border: 2px solid #85808f;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 5px 10px -3px 0;
  border-radius: 3px; }

.btn-radio:checked + .label-radio:before {
  content: "\2713";
  color: #d8a43a;
  font-size: 1.4em;
  font-weight: bold; }

.botones-formulario {
  border-top: 5px solid #e8e8e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 10px; }
.botones-formulario .btn-sm {
  color: #ffffff;
  font-family: "Museo", sans-serif;
  margin-left: 10px;
  border-radius: 3px; }
.botones-formulario .btn-sm span {
  border-right: 2px solid #ffffff;
  margin-right: 5px;
  padding-right: 5px;
  font-size: 1.2em; }

/** DASHBOARD **/
.contenedor-dashboard {
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px; }

.caja-dashboard {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  text-align: center; }

.caja-morada {
  background-color: #443354;
  color: #ffffff;
  width: 100%;
  height: 120px;
  padding-top: 15px;
  margin-bottom: 20px;
  font-family: "Museo", sans-serif; }
.caja-morada span {
  color: #443354; }

/** MEDIA QUERIES **/
@media all and (max-width: 599px) {
  /** SLIDER **/
  .ilustracion {
    background-image: url(../imagenes/ilustracion_mobile.jpg);
    height: 400px; }

  /** TABS **/
  .contenido-etiqueta {
    max-height: 0;
    transition: max-height 0.3s ease-in-out; }

  #etiqueta-1:checked ~ .contenedor-etiquetas [for='etiqueta-1'] + .contenido-etiqueta {
    max-height: 500px;
    padding: 15px; }

  #etiqueta-2:checked ~ .contenedor-etiquetas [for='etiqueta-2'] + .contenido-etiqueta {
    max-height: 300px;
    padding: 15px; }

  #etiqueta-3:checked ~ .contenedor-etiquetas [for='etiqueta-3'] + .contenido-etiqueta {
    max-height: 250px;
    padding: 15px; }

  #etiqueta-4:checked ~ .contenedor-etiquetas [for='etiqueta-4'] + .contenido-etiqueta {
    max-height: 490px;
    padding: 15px; }

  #etiqueta-5:checked ~ .contenedor-etiquetas [for='etiqueta-5'] + .contenido-etiqueta {
    max-height: 250px;
    padding: 15px; }

  /** FORMULARIOS DE MATRIMONIO **/
  .menu-formulario .contenedor-icono {
    display: none; } }
@media all and (min-width: 600px) {
  /** SLIDER **/
  .ilustracion {
    background-image: url(../imagenes/ilustracion_full.jpg);
    background-position: 23% top;
    height: calc(100vh - 112px); }

  .contenedor-slider {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    margin: 30px 0; }

  /** TABS **/
  .navegacion-etiquetas {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center; }

  .nav-etiqueta {
    position: relative;
    width: 20%; }

  .nav-etiqueta:nth-child(2n) {
    margin: 0 2px; }

  .titulo-etiqueta {
    display: none; }

  .contenedor-etiquetas {
    display: -webkit-grid;
    display: grid;
    padding: 40px 20px; }

  .etiqueta {
    -webkit-grid-column: 1;
    grid-column: 1;
    -webkit-grid-row: 1;
    grid-row: 1; }

  .contenido-etiqueta {
    opacity: 0; }

  #etiqueta-1:checked ~ .contenedor-etiquetas [for='etiqueta-1'] + .contenido-etiqueta, #etiqueta-2:checked ~ .contenedor-etiquetas [for='etiqueta-2'] + .contenido-etiqueta, #etiqueta-3:checked ~ .contenedor-etiquetas [for='etiqueta-3'] + .contenido-etiqueta, #etiqueta-4:checked ~ .contenedor-etiquetas [for='etiqueta-4'] + .contenido-etiqueta, #etiqueta-5:checked ~ .contenedor-etiquetas [for='etiqueta-5'] + .contenido-etiqueta {
    opacity: 1;
    transition: opacity .3s linear; }

  #etiqueta-1:checked ~ div [for='etiqueta-1']:after, #etiqueta-2:checked ~ div [for='etiqueta-2']:after, #etiqueta-3:checked ~ div [for='etiqueta-3']:after, #etiqueta-4:checked ~ div [for='etiqueta-4']:after, #etiqueta-5:checked ~ div [for='etiqueta-5']:after {
    content: '';
    border-style: solid;
    border-width: 20px;
    border-color: #d8a43a transparent transparent transparent;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 30px;
    z-index: 1; }

  .contenedor-tarifas {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch; }

  .tarifa {
    margin: 0 10px;
    width: 33.33%;
    text-align: center; }

  .tarifa-texto {
    padding: 20px 10px; }

  /** FORMULARIOS DE MATRIMONIO **/
  .menu-formulario .btn-menu-form {
    display: none; }
  .menu-formulario ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    text-align: center; }
  .menu-formulario ul li {
    width: 20%;
    margin: 0 1px; }

  /** DASHBOARD **/
  .contenedor-dashboard {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: start;
    align-items: start;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .caja-dashboard {
    width: 50%;
    width: calc(50% - 15px);
    max-width: none; } }
@media all and (min-width: 800px) {
  /** CONTENEDORES **/
  .contenedor, .contenedor-slider {
    width: 90%;
    max-width: 960px; }

  .contenedor {
    padding: 0 30px;
    text-align: left; }

  .contenedor-cajas, .contenedor-columnas {
    -webkit-flex-direction: row;
    flex-direction: row; }

  .contenedor-slider {
    margin: 20px 0 50px; }

  .fila {
    padding: 70px 0; }

  .columnas-3 {
    padding-left: 40px; }

  .columnas-9 {
    padding-right: 30px; }

  /** GENERALES **/
  .texto-linea-lateral {
    display: -webkit-flex;
    display: flex; }

  .texto-lateral {
    padding-right: 2em;
    white-space: nowrap; }

  .linea-lateral-blanca, .linea-lateral-gris {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    height: 3em;
    width: 100%; }

  .linea-lateral-blanca {
    border-bottom-color: #ffffff; }

  .linea-lateral-gris {
    border-bottom-color: #e8e8e7; }

  /** MENU **/
  nav {
    -webkit-flex-direction: row;
    flex-direction: row;
    right: 0;
    height: auto;
    width: auto;
    position: relative;
    z-index: inherit;
    padding-top: 20px; }

  .menu {
    -webkit-flex-direction: row;
    flex-direction: row; }
  .menu li {
    border-bottom: 0;
    text-align: left; }
  .menu li a {
    font-size: 1em; }

  .boton-menu {
    display: none; }

  /** SLIDER **/
  .ilustracion {
    padding: 0 30px; }

  /** PASOS **/
  .paso {
    padding: 0 10px;
    text-align: center; }

  /** SERVICIO **/
  .servicio {
    text-align: center;
    width: 20%; }

  /** PAGOS **/
  .webpay {
    border-left: 2px solid #e8e8e7; } }
@media all and (min-width: 1024px) {
  .webpay img {
    width: auto; }

  /** DASHBOARD **/
  .caja-dashboard {
    width: calc(33.3% - 20px); } }

/*# sourceMappingURL=estilos.css.map */
